---
github:
  private_key: |-
    -----BEGIN RSA PRIVATE KEY-----
    -----END RSA PRIVATE KEY-----

ansible:
  remote_user: username
  hosts: example.com
  private_key: |-
    -----BEGIN RSA PRIVATE KEY-----
    -----END RSA PRIVATE KEY-----

  vault_password: 'P4SSW0Rd%%'
